apiVersion: v1
kind: PersistentVolume
metadata:
 name: mysql-pv
 namespace: petrescue-ns
spec:
 capacity:
  storage: 1Gi
 accessModes:
 - ReadWriteOnce
 storageClassName: local-storage
 hostPath:
   path: /mnt/data/mysql
